[Unit]
Description=calico node
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/kubernetes/versions.env
User=root
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/cat <<EOF | /usr/bin/docker run -e ETCD_ENDPOINTS={{ .ETCDNodeURLs }} -i --net=host --rm calico/ctl apply -f -
apiVersion: v1
kind: ipPool
metadata:
  cidr: {{ .PodCidr }}
spec:
  ipip:
    enabled: true
    mode: cross-subnet
  nat-outgoing: true
EOF
ExecStartPre=-/usr/bin/docker stop calico.service
ExecStartPre=-/usr/bin/docker rm calico.service
ExecStart=/usr/bin/docker run --net=host --privileged --name=calico.service \
  -e ETCD_ENDPOINTS={{ .ETCDNodeURLs }} \
  -e NODENAME=${HOSTNAME} \
  -e FELIX_IPV6SUPPORT=false \
  -e FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT \
  -e CALICO_DISABLE_FILE_LOGGING=true \
  -e CALICO_NETWORKING_BACKEND=bird \
  -e CALICO_LIBNETWORK_ENABLED=true \
  -v /etc/kubernetes:/etc/kubernetes \
  -v /var/run/calico:/var/run/calico \
  -v /lib/modules:/lib/modules \
  -v /run/docker/plugins:/run/docker/plugins \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /var/log/calico:/var/log/calico \
  ${CALICO_IMAGE}
ExecStop=/usr/bin/docker stop calico.service
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
