[Unit]
Description=KubernetesHealthzMaster

[Service]
ExecStartPre=-/usr/bin/docker stop healthzmaster.service
ExecStartPre=-/usr/bin/docker rm healthzmaster.service
ExecStart=/usr/bin/docker run --name=healthzmaster.service --net=host coldog/kube-master-healthz
ExecStop=/usr/bin/docker stop healthzmaster.service
Restart=on-failure
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target
